---
layout: main
title: Tags
permalink: /tags/
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<div class="tags-page">
  <header class="tags-header">
    <h1>Explore by Tags</h1>
    <p>Browse articles by topic</p>
  </header>

  <div class="tags-cloud">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
      {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
      <a href="#{{ this_word | cgi_escape }}" class="tag-cloud-item">
        {{ this_word }}
        <span class="tag-count">{{ site.tags[this_word].size }}</span>
      </a>
    {% endunless %}{% endfor %}
  </div>

  <div class="tags-sections">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
      {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
      <section class="tag-section" id="{{ this_word | cgi_escape }}">
        <h2 class="tag-title">{{ this_word }}</h2>
        <div class="tag-posts">
          {% for post in site.tags[this_word] %}{% if post.title != null %}
          <article class="tag-post-item">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%B %d, %Y' }}</time>
          </article>
          {% endif %}{% endfor %}
        </div>
      </section>
    {% endunless %}{% endfor %}
  </div>
</div>
