<nav class="pagination" role="navigation" aria-label="Pagination">
  {% if paginator.previous_page or paginator.next_page %}
  <div class="pagination-wrapper">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="{{ site.baseurl }}/" class="pagination-link newer" rel="prev">
        <i class="fa fa-arrow-left"></i>
        <span>Newer Posts</span>
      </a>
      {% else %}
      <a href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" class="pagination-link newer" rel="prev">
        <i class="fa fa-arrow-left"></i>
        <span>Newer Posts</span>
      </a>
      {% endif %}
    {% else %}
    <span class="pagination-link disabled"></span>
    {% endif %}

    <span class="pagination-info">Page {{paginator.page}} of {{paginator.total_pages}}</span>

    {% if paginator.next_page %}
    <a href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" class="pagination-link older" rel="next">
      <span>Older Posts</span>
      <i class="fa fa-arrow-right"></i>
    </a>
    {% else %}
    <span class="pagination-link disabled"></span>
    {% endif %}
  </div>
  {% endif %}
</nav>
